.chkbox {
  width: 2rem;
  height: 1.8rem;
  margin-right: 2rem;
}
.item {
  border-top: 1px solid white;
  padding: 2vh;
  color: white;
  font-size: 1.7rem;
}
.item:hover,
.item:active {
  cursor: pointer;
  background-color: rgb(175, 114, 34);
}
