.chkbox {
  width: 2rem;
  height: 1.8rem;
  margin-right: 2rem;
}
.item {
  border-top: 1px solid white;
  padding: 2vh;
  color: #e4e6eb;
  font-size: 1.7rem;
  display: flex;
}
.item:hover,
.item:active {
  cursor: pointer;
  background-color: hsl(210, 3%, 25%);
}
.userpic {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  margin-right: 5px;
}
