.main > ul {
  display: flex;
  list-style: none;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.groupChatBtn {
  font-size: 1.7rem;
  width: 100%;
  padding: 2vh;
  outline: none;
  border: none;
}
.groupChatBtn:active,
.groupChatBtn:hover {
  cursor: pointer;
}
