.main {
  display: flex;
  padding: 2vh 1vw;
  gap: 1rem;
  align-items: center;
  color: #e4e6eb;
}
.image > img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  margin-right: 5px;
}
.detail {
  display: flex;
  flex-direction: column;
}

.chatname:hover,
.chatname:active {
  cursor: pointer;
}
.chatname {
  margin: 0;
  font-size: 1.6rem;
}
.detail > p {
  margin: 0;
}
.detail > p {
  cursor: default;
}

/* Active chat styles */

@media only screen and (min-width: 601px) and (max-width: 830px) {
  .emptydiv {
    display: none;
  }
  .detail {
    display: none;
  }
  .main {
    justify-content: center;
  }
}
