.main {
  /* background: url("/public/wood.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 18%);
  background-color: #323436;
}
.messagesdiv {
  padding: 0 1vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}
.messagesdiv::-webkit-scrollbar {
  display: none;
}

/* Mobile Styles */
.mobchatroom {
  display: none;
}
