.main {
  display: flex;
  padding: 2vh 1vw;
  gap: 1rem;
  align-items: center;
  /* border: 2px solid burlywood; */
  /* border-bottom: none; */
}
.image > img {
  height: auto;
  width: 55px;
  border-radius: 30px;
}
.detail {
  display: flex;
  flex-direction: column;
}
.activechat {
  background-color: rgb(141, 86, 14);
  color: white;
}
.chatname:hover,
.chatname:active {
  cursor: pointer;
}
.chatname {
  margin: 0;
  font-size: 1.6rem;
}
.detail > p {
  margin: 0;
}
.detail > p {
  cursor: default;
}
.userimage {
  z-index: 5;
}
/* Active chat styles */
.activechat {
  background-color: rgb(141, 86, 14);
  color: white;
}
.activeimg {
  background-color: rgb(200, 6, 6);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-left: 35px;
  margin-bottom: -10px;
  position: relative;
  z-index: 10;
}
@media only screen and (min-width: 601px) and (max-width: 830px) {
  .emptydiv {
    display: none;
  }
  .detail {
    display: none;
  }
  .main {
    justify-content: center;
  }
  .activechat {
    border-top: 5px soilid white;
  }
}
