.main {
  background: url("/public/wood.jpg");
  height: 100vh;
  color: white;
  display: flex;

  flex-direction: column;
}
.messagesdiv {
  padding: 0 1vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}
.messagesdiv::-webkit-scrollbar {
  display: none;
}

/* Mobile Styles */
.mobchatroom {
  display: none;
}
