.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  margin-top: -40vh;
  margin-left: -25vw;
  padding: 1rem;
  border-radius: 60px;
  background-color: #4a4c4e;
  color: #e4e6eb;
}

.title {
  color: #e4e6eb;
  text-align: center;
  font-size: 2rem;
}
.main > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main > form > label {
  color: #e4e6eb;
  font-size: 4vh;
  margin-bottom: 2vh;
}
.main > form > input {
  padding: 4px 5px;
  width: 70%;
  min-height: 4vh;
  outline: none;
  font-size: 4vh;
}
.btns {
  border-radius: 25px;
  border: none;
  font-size: 1.7rem;
  outline: none;
  width: 12vw;
  margin-top: 3vh;
}
.btns:hover,
.btns:active,
.btns:focus {
  cursor: pointer;
  border: 1px solid black;
}

.avatardiv {
  display: flex;
}
.avatar {
  min-height: 70px;
  width: auto;
}
.avatarsection {
  display: flex;
  flex-direction: column;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .main {
    width: 100vw;
    left: 0;
    top: 0;
    border-radius: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }
  .title {
    font-size: 2rem;
  }
  .main > form > label {
    margin: 0.4rem 1rem;
  }
  .main > form > input {
    width: auto;
  }
  .btns {
    width: 7rem;
  }
}
