.main {
  width: fit-content;
  margin: 2vh 0;
  display: flex;
  align-items: center;
}
.message {
  padding: 0.7rem 1.1rem;
  border-radius: 25px;
  max-width: 35vw;
  font-size: 1.1rem;
  word-wrap: break-word;
  position: relative;
}
.msgtext {
  margin: 0;
}
.hovertext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.msgtext:hover .hovertext {
  visibility: visible;
}
.rightphoto {
  margin-left: 5px;
}
.senderPhoto {
  height: auto;
  width: 45px;
  border-radius: 30px;
  align-self: flex-end;
}
.leftphoto {
  margin-right: 5px;
}
.userName {
  margin: 0 0 0 0.7rem;
  font-size: 0.9rem;
}

/* Media query */
/* @media only screen and (max-width: 600px) {
  .message {
    font-size: 1.2rem;
  }
} */
/* @media only screen and (min-width: 700px) {
  .message {
    width: fit-content;
    max-width: 50%;
  }
} */
