.sentmsgform {
  display: flex;
  position: sticky;
  bottom: 0;
  align-items: center;
  padding: 5px;
}

.sentForm {
  padding: 1vh 1rem;
  height: 2rem;
  font-size: 1.5rem;
  width: 90%;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgb(149, 149, 149);
  margin-right: 5px;
  background-color: hsl(0, 1%, 23%);
}

.sentBtn {
  border-radius: 20px;
  font-size: 1.7rem;
  padding: 1vh 2vw;
  border: none;
  z-index: 4;
  outline: none;
  border: 1px solid #e4e6eb93;
}
.sentBtn:active {
  cursor: pointer;
}

.GifContainer {
  /* height: 10vh;
  width: 10vw; */
  /* border-radius: 2px solid white; */
}

/* Media query */

/* @media only screen and (max-width: 600px) {
  .sentmsgform > button {
    font-size: 1.7rem;
  }
  .sentmsgform > input {
    padding-left: 1rem;
  }
  .sentmsgform > input {
    width: 85%;
  }
} */
