.main {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  min-width: 25vw;
  overflow: scroll;
  scrollbar-width: none;
  background-color: #323436;
  border-right: 1px solid white;
}
.main::-webkit-scrollbar {
  display: none;
}
.headerdiv {
  position: sticky;
  top: 0;
}
.chatmodals {
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}
.chatmodals::-webkit-scrollbar {
  display: none;
}
.addbutton {
  position: sticky;
  bottom: 2vh;
  border: none;
  background-color: transparent;
}
.addbutton:hover,
.addbutton:active {
  cursor: pointer;
  /* border: 1px solid rgb(211, 127, 16); */
}
.addchatdiv {
  position: relative;
}
.addchat {
  position: fixed;
  right: 10vw;
}

.disnoneaddbtn {
  display: none;
}

/* Media Query */
@media only screen and (max-width: 830px) {
  .main {
    width: auto;
  }
}

/* Mobile Styles */
.mobSidebar {
  width: 100vw;
}
.mobchatopen {
  display: none;
}
.makeGroupBtn {
  outline: none;
  border: none;
  font-size: 1.5rem;
  position: sticky;
  padding: 10px;
  bottom: 0;
  border: 1px solid rgb(192, 192, 124);
}
.makeGroupBtn:active,
.makeGroupBtn:hover {
  cursor: pointer;
  background-color: rgb(52, 52, 53);
}
