.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  min-height: 100vh;
  min-width: 25vw;
  overflow: scroll;
  scrollbar-width: none;
  background-color: #323436;
  border-right: 1px solid white;
  position: relative;
}
.main::-webkit-scrollbar {
  display: none;
}
.chatListContainer {
  width: 100%;
}
.headerdiv {
  position: sticky;
  top: 0;
  width: 100%;
}
/* Nav tabs  */
.navBar {
  display: flex;
  /* gap: 2rem; */
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  justify-content: space-around;
}
.navItems {
  color: white;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  padding: 2vh 0;
}
.navItemActive {
  background-color: hsl(240, 4%, 35%);
}
/*  */
.chatmodals {
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
}
.chatmodals::-webkit-scrollbar {
  display: none;
}

/* Add Button Div */

.addBtnDiv {
  display: flex;
  justify-content: right;
  position: sticky;
  bottom: 0;
  width: 2rem;
}

/* Add Button */
.addbutton {
  position: sticky;
  bottom: 0vh;
  right: 1vw;
  border: none;
  background-color: transparent;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}
.addbutton:hover,
.addbutton:active {
  cursor: pointer;
  /* border: 1px solid rgb(211, 127, 16); */
}
.displayNoneAddBtn {
  display: none;
}
/*  */
.addchatdiv {
  position: relative;
}
.addchat {
  position: fixed;
  right: 10vw;
}

/* Media Query */
@media only screen and (max-width: 830px) {
  .main {
    width: auto;
  }
}

/* Mobile Styles */
.mobSidebar {
  width: 100vw;
}
.mobchatopen {
  display: none;
}
.makeGroupBtn {
  outline: none;
  border: none;
  font-size: 1.5rem;
  position: sticky;
  padding: 10px;
  bottom: 0;
  border: 1px solid rgb(192, 192, 124);
  width: 100%;
}
.makeGroupBtn:active,
.makeGroupBtn:hover {
  cursor: pointer;
  background-color: rgb(52, 52, 53);
}
