.bgcolor {
  background-color: #4e4f50;
}
.darkerbgcolor {
  background-color: hsl(210, 1%, 28%);
}
.textcolor {
  color: #e4e6eb;
}
.inputTextColor {
  color: #e4e6eb;
}
.MsgSentBtnActive:active {
  background-color: hsl(0, 0%, 28%);
  color: #e4e6eb;
}
/* Chat Modal */
.activechat {
  background-color: rgb(53, 54, 56);
  color: #2f3031;
}
.activeChatHeader {
  background-color: rgb(18, 153, 41);
  width: 20px;
  height: 20px;
  border-radius: 1vh;
  margin-left: 35px;
  margin-bottom: -10px;
  position: relative;
}
.bgcolorGroupChat {
  background-color: #1776f1;
}
.bgcolorGroupChat:active,
.bgcolorGroupChat:hover {
  background-color: rgb(5, 125, 194);
}

/* Chat room messages */
/* Left Messages */
.messageleft {
  color: #e4e6eb;
  background-color: hsla(0, 0%, 100%, 0.918);
  background-color: hsl(0, 1%, 23%);
}
/* Right Messages */
.msgalignright {
  background-color: #1a5eb8;
  color: #e4e6eb;
  font-weight: 500;
}
.alignright {
  align-self: flex-end;
}
/* Media query */
