.bgcolor {
  background-color: hsl(210, 1%, 28%);
}
.darkerbgcolor {
  background-color: #2e2f2f;
}
.textcolor {
  color: #e4e6eb;
}
.inputTextColor {
  color: #e4e6eb;
}
.MsgSentBtnActive:active {
  background-color: hsl(0, 2%, 19%);
  color: #e4e6eb;
}
/* Chat Modal */
.activechat {
  background-color: rgb(61, 63, 68);
  color: #2f3031;
}
.activeChatHeader {
  background-color: rgb(18, 153, 41);
  width: 20px;
  height: 20px;
  border-radius: 1vh;
  margin-left: 35px;
  margin-bottom: -10px;
  position: relative;
}
.bgcolorGroupChat {
  background-color: #1776f1;
}
.bgcolorGroupChat:active,
.bgcolorGroupChat:hover {
  background-color: rgb(5, 125, 194);
}

/* Chat room messages */
/* Left Messages */
.messageleft {
  color: #e4e6eb;
  background-color: hsl(0, 3%, 26%);
}
/* Right Messages */
.msgalignright {
  background-color: #1a5eb8;
  color: #e4e6eb;
  font-weight: 500;
}
.alignright {
  align-self: flex-end;
}
/* Media query */
